<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @allis_button_style.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @allis_button_style.color %>
</p>

<%= link_to 'Edit', edit_allis_button_style_path(@allis_button_style) %> |
<%= link_to 'Back', allis_button_styles_path %>
