<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @allis_button.user %>
</p>

<p>
  <strong>Word:</strong>
  <%= @allis_button.word %>
</p>

<p>
  <strong>Style:</strong>
  <%= @allis_button.style %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @allis_button.start_date %>
</p>

<p>
  <strong>Udate date:</strong>
  <%= @allis_button.udate_date %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @allis_button.interval %>
</p>

<p>
  <strong>Subject warning:</strong>
  <%= @allis_button.subject_warning %>
</p>

<p>
  <strong>Message warning:</strong>
  <%= @allis_button.message_warning %>
</p>

<p>
  <strong>Eml warning:</strong>
  <%= @allis_button.eml_warning %>
</p>

<p>
  <strong>Warns:</strong>
  <%= @allis_button.warns %>
</p>

<%= link_to 'Edit', edit_allis_button_path(@allis_button) %> |
<%= link_to 'Back', allis_buttons_path %>
